*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1500px;
    margin: 0 auto;
}

header{
    margin-top: 20px;
    width: 100%;
    height: 140px;
    background-color: #fff;
    margin-bottom: 10px;
}

.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* top right */
.header-top-right{
    display: flex;
    align-items: center;
}
.header-top-right img{
    width:180px;
    height:56px;
}
.header-top-right form input{
    background-color: #f0f0f1;
    width: 460px;
    height: 45px;
    border: 0;
    margin-right: 40px;
    border-radius: 5px;
}
.header-top-right form{
    position: relative;
}
.header-top-right form i{
    font-size: 23px;
    height: 15px;
    color: #201d1d;
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px 9px;
    border-right:1px solid rgb(179, 175, 175);
        height: 35px;
        top: 5px;
}

/* top left */

.header-top-left a{
    text-decoration: none;
    list-style-type: none;
    margin: 5px;
}
.header-top-left .phone{
    color: #353535;
}
.header-top-left .login{
    color:#444;
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 5px;
}
.header-top-left .fa-user{
    color: black;
    left: 0;
    padding: 2px 3px;
    margin-right: 5px;
}
.header-top-left .cart{
    border-right: 2px solid #ddd;
    color: #444;
    padding: 5px;
    margin: 0 6px;
    display: inline-block;
}


/* header bottom */
.header-bottom{
    width: 100%;
    margin-top: 15px;
    display: flex;
}
.header-bottom ul{
    display: flex;
    color: black;
    list-style-type: none;
}

.header-bottom ul li{
    padding: 7px 10px;
    margin: 5px;
    display: flex;
    align-items: flex-end;
}
.header-bottom ul li:nth-child(1){
    background-color: #1c74bd;
    color: #fff;
    border-radius: 8px;
    align-items: center;
}
.header-bottom ul li img{
    padding: 1px 5px;
}
/* end header */

.imagetop{
    width: 100%;
    height: 390px;
    background-image: url(../images/image-top.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 2px;
    margin-bottom: 10px;
}
/* end */

.waretop{
    display:flex;
    width: 100%;
    height: 322px;
    background-image: url(../images/bg1.svg);
    background-color: #ef394e;
    border-radius: 10px;
    padding: 5px 60px;
}

.waretop article{
    align-items: center;
    display: flex;
}

.waretop section{
    width: 238px;
    height: 250px;
    margin: 10px 0;
    display: flex;
}

.waretop article .logo-waretop{
   padding: 20px 2px 20px 20px; 
}

.waretop article .logo-waretop img{
    background-size: cover;
    width: 136px;
    height: 272px;
    display: block;
    margin: 0 auto;
}

.waretop article section .item{
    background-color: #fff;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.waretop article section .item p{
    text-align: justify;
    font-size: 20px;
    color: #3c3939;
}

.waretop article section .item span:nth-child(1){
    background-color: #ef394e;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 8px;
    border-radius: 6px;
    padding: 2px 3px;
    text-align: center;
    width: fit-content;
    border-bottom: none;
}
.waretop article section .item span{
    color: green;
    justify-content: end;
    align-self: flex-end;
    padding-top: 10px;
}

.waretop article section .item img{
    width: 74px;
    height: 74px;
    margin: 0 37px 10px ;
    align-self: center;
}

.waretop article section .item .scn-botm{
    border-top: rgb(185, 184, 184) solid 1px;
    display: flex;
    width:238px;
}
.waretop article section .item p{
    align-self: flex-end;
    margin-right:8px;
    margin-top: 15px;
}

.waretop article section .item i{
    margin-right:8px;
    margin-top: 5px;
}




.waretop2{
    display:flex;
    width: 100%;
    height: 210px;
    background-image: url(../images/bg1.svg);
    background-color: #1a75bd;
    border-radius: 10px;
    padding: 5px 60px;
    margin-top: 3px;
}

.waretop2 article{
    align-items: center;
    display: flex;
}

.waretop2 section{
    margin: 10px 0;
    display: flex;
}

.waretop2 article .logo-waretop2{
    padding: 20px 2px 20px 20px;
    display: flex;
}

.waretop2 article .logo-waretop2 img{
    background-size: cover;
    width: 80px;
    height: 160px;
    margin: 0 27.906px;
    display: block;
}

.waretop2 article section .item2{
    background-color: #fff;
    padding: 35px 10px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 258px;
}

.waretop2 article section .item2 div{
    display: flex;
    align-items: center;
}

.waretop2 article section .item2 div a{
    color: #3c3939;
    text-decoration: none;
    width: 150px;
    font-size: 14px;
    margin-right: 14px;
}

.waretop2 article section .item2 span:nth-child(1){
    background-color: #ef394e;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 8px;
    border-radius: 6px;
    padding: 2px 3px;
    text-align: center;
    width: fit-content;
    border-bottom: none;
}
.waretop2 article section .item2 span{
    color: green;
    justify-content: end;
    align-self: flex-end;
    padding-top: 10px;
}

.waretop2 article section .item2 div img{
    width: 80px;
    height: 80px;
    padding: 5px;
    display: inline;
}

/* end */
.warecenter{
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}

.warecenter .titlediv{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.warecenter .titlediv h2{
    font-weight: bold;
    border-bottom: 2px solid #1a75bd;
}

.warecenter section{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.warecenter section .itemctr{
    width: 217px;
    cursor: pointer;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding: 0 20px 20px 20px;
    margin: 0 10px 10px 10px;
}
.warecenter section .itemctr img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.warecenter section .itemctr a{
    color: #222;
    font-size: 17px;
    text-align: center;
    margin-top: 7px;
    text-decoration: none;
}

/* end */
.warebottom1{
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

.title-bottom-top{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    position: relative;
    margin: 40px 0 10px 0;
    padding: 5px 15px;
}
.title-bottom-top span{
    font-size: 18px;
    /* margin: 0 10px 5px 0; */
    border-bottom: 2px solid #1c74bd;
    position: absolute;
    right: 0;
    top: -16.5px;
    padding-bottom: 5px;

}
.title-bottom-top a{
    text-decoration: none;
    color: #222;
    position: absolute;
    left: 0;
    top: -16.5px;
    padding-bottom: 5px;
}

.warebottom1 section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.warebottom1 section .itembott{
    display: flex;
    flex-direction: column;
    width: 271px;
    height: auto;
    border: 1px solid #e4e4e4;
    margin-left: 15px;
}
.warebottom1 section .itembott div{
    width: 100%;
}
.warebottom1 section .itembott div img{
    width: 100%;
    height: auto;
}

.warebottom1 section .itembott .brbr{
    padding:10px;
}

.warebottom1 section .itembott .brbr a{
    text-decoration: none;
    color: #222;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15.5px;
    font-weight: bold;
}
.warebottom1 section .itembott .brbr span{
    color: #0073ad;
    font-size: 14px;
}

/* end */


.more{
    width: 100%;
    display:inline-block;
}
.more div{
    display: flex;
    justify-content: center;
}

.more div h3{
    border-bottom: 3px solid #1a75bd;
    padding: 6px 25px;
}

.more section{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.more section img{
    width: 220px;
    height: 110px;
    margin-left: 25px;
    border-radius: 10px;
}

/* end */
footer{
    margin-top: 50px;
    background-color: #f9f9f9;
    width: 100%;
    padding: 30px 20px 20px ;
}

footer .ftop{
    width: 100%;
    border-bottom: 1px solid #b9b8b8;
}
footer .ftop section{
    padding: 15px 0;
    width: 100%;
}
footer .ftop section ul{
    display: flex;
    list-style-type: none;
    padding: 5px 50px;
    justify-content: center;
}
footer .ftop section ul li{
    text-align: center;
    width: 20%;
    margin-left: 35px;
}

footer .ftop section ul li span{
    align-self: center;
    color: #565656
}

footer .ftop section ul li span:first-child{
    color: #1c74bd;
    font-size: 24px;
    margin-left: 5px;
}

footer .ftop section ul li p{
    margin-top: 5px;
    color: #949494;
    font-size: 11px;
}



footer .fcenter{
    width: 100%;
    display: flex;
}

footer .fcenter section{
    width: 100%;
    display: flex;
    padding-top:30px;
    padding-bottom: 30px;
}

footer .fcenter section ul{
    padding: 0 15px;
    list-style-type: none;
    width: 25%;
}
footer .fcenter section ul li{
    line-height: 30px;
}
footer .fcenter section ul li a{
    text-decoration: none;
    color: #313131;
    font-size: 15.5px;
}
/* end */

footer .section2{
    margin-top: 25px;
    width: 100%;
    display: flex;
}

footer .section2 .fcright{
    width: 50%;
    display: flex;
}

footer .section2 .fcright .fcrright{
    width: 50%;
}
footer .section2 .fcright .fcrleft{
    width: 50%;
    margin: 0 3% 3%;
}


footer .section2 .fcright .fcrright p{
    margin: 10px 0;
    font-size: 14.5px;
    text-align: justify;
}

footer .section2 .fcright .fcrright p a{
    font-size: 15px;
    padding-right: 1%;
    color: #249dff;
    border-bottom: 1px dashed #249dff;
    text-decoration: none;
}

footer .section2 .fcright .fcrleft div{
    width: 85px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 5px;
    height: 90px;
    margin-left: 10px;
    float: right;
}
footer .section2 .fcright .fcrleft div img{
    width: 100%;
    height: auto;
}


footer .section2 .fcleft{
    display: flex;
    width: 50%;
}
footer .section2 .fcleft .fclright{
    width: 45%;
}

footer .section2 .fcleft .fclright p{
    font-size: 14px;
}

footer .section2 .fcleft .fclright i{
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 5px;
}

footer .section2 .fcleft .fclright .i1{
    color: #4fce5d;
    font-size: 35px;
}
footer .section2 .fcleft .fclright .i2{
    color: #385697;
    font-size: 35px;
}
footer .section2 .fcleft .fclright .i3{
    color: #0182b9;
    font-size: 35px;
}
footer .section2 .fcleft .fclright .i4{
    color: #00acee;
    font-size: 35px;
}

footer .section2 .fcleft .fclright .i5{
    color: #2ba0da;
    font-size: 35px;
}

footer .section2 .fcleft .fclright div{
    float: left;
}

footer .section2 .fcleft .fclright div i{
    background-image: linear-gradient(266deg, #4e60d3, #913baf 35%, #d52d88 68%, #f26d4f);
    margin-top: 10px !important;
    margin-left: 5px !important;
    height: 33px;
    line-height: 33px;
    padding: 0 9px;
}
footer .section2 .fcleft .fclright div i span{
    padding-right:5px;
}



footer .section2 .fcleft .fclleft{
    width: 55%;
}

footer .section2 .fcleft .fclleft p{
    font-size: 14px;
}

footer .section2 .fcleft .fclleft form{
    position: relative;
}

footer .section2 .fcleft .fclleft form input:first-child{
    height: 38px;
    line-height: 38px;
    width: 100%;
    padding: 0 8px;
    background-color: #fff;
    border: solid 1px #9a9a9a;
    border-radius: 4px;
    font-size: 15px;
}
footer .section2 .fcleft .fclleft form input{
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
    float: right;
    width: 80px;
    text-align: center;
    border: 0;
    background-color: #1687c6;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    cursor: pointer;
}
/* end */

.fbottom{
    width: 100%;
    background-color: #e4e4e4;
    text-align: center;
    padding: 8px 3%;
    color: #333;
}